div.container{display: flex; align-items: center; justify-content: center; }
div.center{border: 5px slategray solid; background-color: lightgrey; background-size: 500px auto;}
.button{ margin-left: 5px; margin-top: 10px; border: 0; color: aliceblue; background-color: darkslategrey ; border: 2px lightcoral solid;}
.button:hover{border: 0; color: bisque; border: 2px thistle solid;}
.margin{margin: 5px 5px 5px 5px; color: lightcoral; font-family: sans-serif ;}
.tr{ margin: 5px 5px 5px 5px;  color: snow; font-size: 20px; border: 3px lightskyblue solid; font-family: monospace ;}

